@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Nunito&family=Permanent+Marker&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.4em;
  font-size: 16px;
  padding: 20px 50px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fdfdfd;
}
h1.myname {
  color: #e74646;
  font-family: "Permanent Marker", cursive, "Courier New", Courier, monospace;
  font-weight: 500;
  margin-bottom: 100px;
  font-size: 48px;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
}
h2 {
  text-transform: uppercase;
  margin-top: 3em;
}
p {
  max-width: 700px;
}

#intro {
  margin-bottom: 60px;
  margin-top: 30px;
}
.where {
  text-decoration: underline;
  text-decoration-color: #aaa;
  cursor: crosshair;
  position: relative;

  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("data:image/gif;base64,R0lGODlhEAAQAPEAAP///wAAADY2NgAAACH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAACLYSPacLtvkA7U64qGb2C6gtyXmeJHIl+WYeuY7SSLozV6WvK9pfqWv8IKoaIAgAh+QQACgABACwAAAAAEAAQAAACLYSPacLtvhY7DYhY5bV62xl9XvZJFCiGaReS1Xa5ICyP2jnS+M7drPgIKoaIAgAh+QQACgACACwAAAAAEAAQAAACLISPacLtvk6TE4jF6L3WZsyFlcd1pEZhKBixYOie8FiJ39nS97f39gNUCBEFACH5BAAKAAMALAAAAAAQABAAAAIshI9pwu2+xGmTrSqjBZlqfnnc1onmh44RxoIp5JpWN2b1Vdvn/ZbPb1MIAQUAIfkEAAoABAAsAAAAABAAEAAAAi2Ej2nC7b7YaVPEamPOgOqtYd3SSeFYmul0rlcpnpyXgu4K0t6mq/wD5CiGgAIAIfkEAAoABQAsAAAAABAAEAAAAiyEj2nC7b7akSuKyXDE11ZvdWLmiQB1kiOZdifYailHvzBko5Kpq+HzUAgRBQA7AAAAAAAAAAAA");
}

.where:hover:after {
  content: "My location changes often. This page automatically updates with my latest GPS trace.";
  position: absolute;
  display: block;
  top: -30px;
  right: -320px;
  width: 300px;
  background: white;
  border: solid black 1px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.2em;
}

.where.loaded {
  background: transparent;
  display: inline;
}

#projects {
  margin: 80px 0;
}
#projects .project {
  display: flex;
  margin: 50px 0;
}
#projects .project h3 {
  margin-top: 0;
  margin-bottom: 1em;
}
#projects .project h3 a {
  color: black;
  text-decoration: none;
}
#projects .project .description {
  max-width: 450px;
}
.thumb {
  width: 180px;
  height: 180px;
  margin-right: 30px;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show-more-projects {
  background: white;
  flex: 1;
  border: solid #ccc 1px;
  text-align: center;
  max-width: 650px;
  padding: 20px 0;
  cursor: pointer;
}
.show-more-projects:hover {
  text-decoration: underline;
}
.address {
  display: flex;
  margin: 30px 0;
  max-width: 600px;
}
.address a {
  line-height: 1.7em;
}
.address img {
  margin-right: 50px;
}
#newsletter {
  background: #ffeedb;
  margin: 2em -30px;
  padding: 30px;
  max-width: 650px;
  font-size: 32px;
  line-height: 1.2em;
}
#newsletter form {
  display: flex;
  height: 70px;
}
#newsletter .email {
  flex: 1;
  font-family: "Source Serif Pro", "Times New Roman", times, serif;
  font-size: 24px;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  padding: 10px 15px;
}
#newsletter .subscribe {
  margin-left: 20px;
  background: transparent;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  font-size: 24px;
  padding: 20px 40px;
  font-family: "Source Serif Pro", "Times New Roman", times, serif;
}
#newsletter .subscribe:hover {
  text-decoration: underline;
}
#newsletter h2 {
  margin: 0;
  margin-bottom: 1em;
  text-transform: none;
  font-size: 32px;
}
#irl h4 {
  font-size: 24px;
  margin-bottom: 0;
}
#presentations a,
#irl a {
  color: black;
}
#more-projects h4 {
  color: #555;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  font-weight: normal;
}
#more-projects .project {
  margin: 0;
}
#more-projects .project a {
  color: black;
}
#more-projects .project .date {
  margin-right: 20px;
}
footer {
  margin: 3em 0;
  color: #ccc;
}

@media screen and (min-width: 768px) {
  p {
    max-width: 800px;
  }
  .address {
    max-width: 700px;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 20px;
    max-width: 100%;
  }
  .project {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .project .thumb {
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
  }
  #more-projects .project .date {
    display: none;
  }
  .address img {
    width: 60px;
    margin-right: 20px;
  }
  #newsletter {
    padding: 40px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  #newsletter form {
    flex-direction: column;
    height: auto;
  }
  #newsletter .email {
    height: 60px;
  }
  #newsletter .subscribe {
    margin-left: 0;
    margin-top: 30px;
    max-width: 250px;
  }
  #newsletter h2 {
    margin-top: 10px;
  }
  #background .role-entry {
    margin: 1em 0;
    padding: 0.75em 0;
  }
  #background .role-entry h3 {
    font-size: 18px;
  }
  #background .education-section {
    margin: 1.5em 0;
  }
}

pre {
  max-width: 700px;
  white-space: pre-wrap;
}

.subpage {
  margin-top: 80px;
  padding: 20px 65px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  background: white;
  border-bottom: 1px solid #eee;
  z-index: 100;
}
.top-menu a {
  color: #333;
  text-decoration: none;
}

.top-menu h1 a {
  color: #e74646;
  text-decoration: none;
}
.top-menu a:hover {
  text-decoration: underline;
}

.top-menu h1 a:hover {
  color: #e74646;
  text-decoration: none;
}
.top-menu h1 {
  font-family: "Permanent Marker", cursive, "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 32px;
  color: #e74646;
  display: inline-block;
}
.top-menu .back-button {
  margin-left: 25px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .summary {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  background: #ffeedb;
  padding: 10px 15px;
  border-left: 4px solid #e74646;
  margin-top: -40px;
  margin-bottom: 40px;
  line-height: 1.4em;
}
.sip-point {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -10;
  max-width: 900px;
  margin-top: 1em;
  margin-left: 50px;
  margin-bottom: 20px;
}
.sip-point img {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-height: 300px;
  object-fit: cover;
  background: #eee;
}
.subpage #newsletter {
  max-width: 850px;
}
.subpage #newsletter h2 {
  font-size: 24px;
}
.subpage #intro {
  max-width: 900px;
}
.subpage p {
  max-width: 700px;
}
.subpage h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 0.5em;
  color: #333;
}
.subpage h2 {
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: 20px;
  letter-spacing: 0.05em;
}
.subpage h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #333;
}
.subpage ul {
  max-width: 700px;
  margin: 1em 0;
  padding-left: 1.5em;
}
.subpage ul li {
  margin: 0.75em 0;
  line-height: 1.6em;
}
.subpage section {
  margin-bottom: 2em;
}
.subpage #ways-to-work > div {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 1px solid #eee;
}
.subpage #ways-to-work > div:last-child {
  border-bottom: none;
}
.subpage #ways-to-work h3 {
  margin-top: 0;
  color: #e74646;
}
.subpage #ways-to-work p {
  margin-top: 0.5em;
  color: #555;
}
.subpage a {
  color: #e74646;
  text-decoration: none;
}
.subpage a:hover {
  text-decoration: underline;
}

.subpage .intro-text {
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 2em;
  color: #555;
}

.subpage .intro-text-first {
  margin-bottom: 1em;
}

.subpage .intro-text-secondary {
  margin-bottom: 2em;
  color: #555;
}

.subpage .email-contact {
  margin-top: 1em;
}

.subpage .email-contact a {
  font-size: 20px;
  font-weight: 600;
}

.subpage .intro-text-secondary {
  margin-bottom: 2em;
  color: #555;
}

.subpage .booking-info {
  margin-top: 1.5em;
}

.subpage .booking-note {
  margin-top: 0.5em;
  color: #777;
  font-size: 16px;
}

.subpage .section-link {
  margin-top: 1em;
}

.subpage .booking-button {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #1a1a1a;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #1a1a1a;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.subpage .booking-button:hover {
  background-color: #ffffff;
  color: #1a1a1a;
  text-decoration: none;
}

#tools .tool {
  display: flex;
  margin: 50px 0;
}
#tools .tool h3 {
  margin-top: 0;
  margin-bottom: 1em;
}
#tools .tool h3 a {
  color: black;
  text-decoration: none;
}
#tools .tool .description {
  max-width: 400px;
  min-width: 200px;
}

#trip {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.bot-map figcaption {
  font-size: 18px;
  text-align: right;
}
#trip h2 {
  margin-top: 0;
}
#trip .bot-map {
  flex: 1;
  max-width: 400px;
  min-width: 200px;
  margin-left: 50px;
  margin-top: 3em;
  max-height: 250px;
}
#trip .bot-map img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .tool .thumb img {
    object-fit: contain;
  }
  #trip {
    flex-direction: column;
  }
  #trip .bot-map {
    margin: 1em 0;
    max-width: auto;
    width: 100%;
  }
  #trip .bot-map img {
    object-fit: cover;
  }
  .subpage {
    padding: 20px;
    margin-top: 70px;
  }
  .top-menu {
    padding: 12px 20px;
  }
  .top-menu h1 {
    font-size: 24px;
  }
  .sip-point {
    position: static;
    flex: 1;
  }
  #intro .summary {
    background: none;
  }
}
@media screen and (max-width: 700px) {
  .subpage #intro {
    flex-direction: column;
  }
  .sip-point {
    margin: 1em 0;
  }
  .subpage h1 {
    font-size: 28px;
  }
  .subpage h2 {
    font-size: 18px;
    margin-top: 2em;
  }
  .subpage p {
    max-width: 100%;
  }
  .subpage ul {
    max-width: 100%;
  }
}

.third-party-vid {
  display: block;
  margin: 1em 0;
  width: 100%;
  max-width: 500px;
}

#background .role-entry {
  margin: 1.5em 0;
  padding: 1em 0;
  position: relative;
}

#background .role-entry:not(:has(+ .education-section))::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 700px;
  max-width: calc(100% - 1.2em);
  height: 1px;
  background-color: #e8e8e8;
}

#background .role-entry h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #333;
}

#background .role-entry p {
  margin-top: 0.5em;
  color: #666;
  line-height: 1.6em;
}

#background .education-section {
  margin: 2em 0;
  padding: 1.5em 0 1em 0;
  position: relative;
}

#background .education-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  max-width: calc(100% - 1.2em);
  height: 1px;
  background-color: #e8e8e8;
}

@media screen and (min-width: 768px) {
  #background .education-section::before {
    width: 800px;
  }
}

#background .education-section h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #333;
}

#background .education-section p {
  color: #555;
  line-height: 1.6em;
}

#background a {
  color: #e74646;
  text-decoration: none;
}

#background a:hover {
  text-decoration: underline;
}
